body{
    font-family: 'Work Sans', sans-serif;

}
.menu-button{
    color: #6278df;
    border: 1px solid #6278df;
}
.menu-button:hover{
    background-color: #6278df;
    box-shadow: 10px 1px 20px #6278df;
}
.brand-image{
    width: 12%;
}
.jon-header .navbar-brand{
    font-size: 25.6px;
    font-weight: 500;
}
.jon-header .navbar-brand:hover{
    color: gray;

}
/* slider section */
.slider-section{
    background: url(images/mbr-10.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 0;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0,.5);
    z-index: -1;
}
.slider-section h3{
    font-weight: 300;
    font-size: 25.6px;
    line-height: 38.4px;
}
.slider-section h1{
    font-weight: 500;
    font-size: 44.8px;
    line-height: 62.72px;
}

.slider-button{
    padding: 12px 80px;
    background-color: #5ba533;
    border-color: #5ba533;
    color: #ffffff;
    font-weight: 600;
}
.slider-button:hover{
    background: white;
    color: #6278df;
    border: 1px solid #6278df;
    box-shadow:-2px 2px 20px #6278df;
}
.slider-form{
    padding: 14px 61px;
    border: none;
    border-radius: 5px;
    margin-top: 1px;

}

/* slider section end */


/* about section start */

.about{
    background: #f7f9ff;
}
.about h1{
    font-size: 2.8rem;
    font-weight: 500;
    line-height:1.4;
}
.about h2{
    color: #232323;
    font-size: 20.8px;
    line-height: 31.2px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
/* about section end */

/* feature section start */
.feature h4{
    font-size: 44.8px;
    line-height: 62.72px;
}
.feature h3{
    font-size: 25.6px;
    font-weight: 300;
    line-height: 38.4px;
}

.feature-heading{
    font-size: 20.8px;
    font-weight: 500;
    line-height: 31.2px;
}
.feature-content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    color:#767676 ;
}

.feature-left-image img{
    width: auto;
    height: 100%;
}
.feature-right-element h3{
    font-size: 20.8px;
    font-weight: 500;
    line-height: 31.2px;
}
.feature-right-element p{
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    color: #767676;
}
/* feature section end */

/* portfolio section start */
.portfolio-heading{
    font-weight: 400;
}
.portfolio-heading h4{
    font-size: 25.6px;
    font-weight: 300;
    line-height: 38.4px;
    color: #767676;
}
.portfolio-image{
    position: relative;
    display: block;
}
.portfolio-image a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(75, 119, 214,.5);
    opacity: none;
    visibility: hidden;
    transition:.5s;
}
.portfolio-image:hover a::after{
    opacity: 1;
    visibility: visible;

}

/* portfolio section end */

/* pricing tabble section start */
.price-table{
    background: #f7f9ff;

}
.price-table-header{
    padding-bottom: 80px;
}
.price-table-heading{
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 63.36px;
}
.price-table h4{
    color: #767676;
    font-weight: 300;
    line-height: 38.4px;
}
.pricing-table{
    height: 576px;
}
.price-button{
    color: #6278df;
    background: white;
    border: none;
}
.pricing-list:hover .price-button{
    color: white;
    background:#6278df;
}

/* pricing tabble section end */

/* testimonial section start */
.testimonial-item span{
    font-size: 100px;
    color: #cccccc;

}
.testimonial-item h2{
    font-size: 25.6px;
    font-weight: 300;
    line-height: 38.4px;
    color: #767676;
}
.testimonial-item p{
    font-size: 20.8px;
    font-weight: 300;
    line-height: 31.2px;
    color: #767676;
}
.testimonial-item h1{
    font-size: 40.8px;
    font-weight: 400;
    line-height:62.72px;
}
.author-info h3{
    font-size: 18px;
    font-weight: 500;
    line-height:31.2px;
}
.author-info h4{
    font-size: 15px;
    line-height:20px;
    color: #767676;
    margin-top: -10px;
}
.author-info img{
    width: 60px;
    height: 60px;
}

/* testimonial section end */


/* team section satart  */
.team{
    background: #f7f9ff;
}
.team-header-heading{
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
    padding: 40px 0;
}
.team-header-para{
    font-size: 17.8px;
    font-weight: 300;
    line-height: 28.2px;
    margin-bottom: 100px;
}
.card-title{
    font-size: 18.8px;
    font-weight: 500;
    line-height: 25.2px;
}
.card-subtitle{
    font-size: 18.8px;
    font-weight: 400;
    line-height: 25.2px;
}
.card-text{
    font-size: 14.8px;
    font-weight: 300;
    line-height: 22.2px;
    color: #767676;
}
.card img{
    margin-top: -50px;
    margin-left: 10px;
    height: 120px;
    width: 120px;
}
.card-button button{
    box-shadow: 2px 4px 20px #767676 !important;
    transition: .5s;
}
.card-button:hover button{
    background: #465052;
    color: white;
}

/* team section end */

/* content section start */
.content-header h1{
    font-weight: 400;
}

.form-button{
    padding: 15px 30px;
    background: #6278df;
    color: white;
    font-weight: bold;
    font-size: large;
}
.form-button:hover{
    background: white;
    color: #6278df;
    box-shadow:2px 4px 20px #465052 ;
    border: 1px solid #6278df;
}




/* content section end */


/* get app setction start */
.get-app p{
    font-size: 20px;
}
.get-app h1{
    font-weight: 400;
}
.get-app-right button{
    background: #5ba533;
    color: white;
    font-weight: bold;
    font-size: large;
}
.get-app-left button{
    background: #ffffff;
    color: #5ba533;
    font-weight: bold;
    font-size: large;
    border: 1px solid #5ba533;
}
.get-app-left button:hover{
    background: #5ba533;
    color: white;
    box-shadow:2px 4px 20px #465052 ;
    border: 1px solid #5ba533;
}
.get-app-right button:hover{
    background: black;
    color: white;
    box-shadow:2px 4px 20px #465052 ;
}



/* get app setction end*/